<h1>Предварителни настройки</h1>
<p>Следните постъпкови настройки трябва да бъдат направени на всеки компютър. Последната стъпка има за цел да провери
    дали всичко е инсталирано правилно.</p>
<h2>Инсталиране на уеббраузъра Google Chrome</h2>
<p> 1. Изтегли и инсталирай уеббраузъра <a
        href="https://www.google.com/chrome/?brand=CHBD&amp;gclid=Cj0KCQjwj9LkBRDnARIsAGQ-hUczFgB7cnhc9-05Gn92TKF4JE7Mn23fKDVrrp-KqcNUdxtR45fDHfcaAgq2EALw_wcB&amp;gclsrc=aw.ds"
        target="_blank" class="link"><b>Google Chrome</b></a>.</p>
<p>
    2. Направи <b>Google Chrome</b> уеббраузър по подразбиране като следваш стъпките:</p>
<ul type="circle">
    <li> oтвори уеббраузъра <b>Google Chrome</b>;</li>
    <li> отвори настройките на браузъра (от иконата в горния десен ъгъл на прозореца);</li>
    <br><img src="https://i.imgur.com/7z0Gm50.png" alt="" width="350" height="577" role="presentation"
        class="img-responsive atto_image_button_text-bottom">
    <li> намери опциите за настройване за уеббраузър по подразбиране; </li>
    <br><img src="https://i.imgur.com/fEvBGnj.png" alt="" width="1044" height="168" role="presentation"
        class="img-responsive atto_image_button_text-bottom">
    <li> натисни върху бутона <b>Make Default</b> (ако не виждш бутон <b>Make Default</b>, пропусни
        следващата стъпка);
    </li>
    <li>избери уеббраузъра <b>Google Chrome</b> от настройките на операционната система на компютъра.
    </li>
    <br><img src="https://i.imgur.com/nzYbKOF.png" alt="" width="600" height="670" role="presentation"
        class="img-responsive atto_image_button_text-bottom">
</ul>
Забележка: Можеш да изпозлваш алтернативи на уеббраузъра <b>Google Chrome</b>, като например
<b>Opera</b>, <b>Mozilla Firefox</b>, <b>Microsoft Edge</b>, <b>Tor</b> и други.
<h2>Инсталиране на средата за разработка Microsoft Visual Studio Code</h2>
<p> 1. Изтегли и инсталирай <a href="https://code.visualstudio.com/" target="_blank" class="link"><b>Microsoft
            Visual
            Studio
            Code</b></a> за операционната система, на която работиш (бутонът на началната страница
    автоматично ще отговаря на операционната система).</p>
<p> 2. Стартирай средата за разработка <b>Microsoft Visual Studio Code</b> и инсталирай динамичен сървър,
    като следваш стъпките:</p>
<ul type="circle">
    <li> избери иконата <b>Extensions</b>&nbsp;&nbsp;<img src="https://i.imgur.com/DzYdzoq.png" alt="" width="40"
            height="37" role="presentation" class="img-responsive atto_image_button_text-bottom">
        от менюто в лявата част на средата за разработка
        <b>Microsoft Visual Studio Code</b>;
    </li>
    <li>изпиши <b>Live Server</b> в търсачката и натисни <b>I</b><b>nstall</b> <img
            src="https://i.imgur.com/PZi9FLl.png" alt="" width="50" height="32" role="presentation"
            class="atto_image_button_text-bottom">бутона на първия резултат.</li>
    <br><img src="https://i.imgur.com/7kUKnCk.png" alt="" width="1178" height="294" role="presentation"
        class="img-responsive atto_image_button_text-bottom">
</ul>
<p> 3. Включи настройката за автоматично запазване на файловете от раздел <b>File</b> на менюто в горната
    част на средата за разработка <b>Microsoft Visual Studio Code</b> и опция
    <b>Auto Save</b>. <br><img src="https://i.imgur.com/ozsCprW.png" alt="" width="400" height="588" role="presentation"
        class="img-responsive atto_image_button_text-bottom">
</p>
<h2>Стартиране на Phaser</h2>
<p>
    1. Изтегли архивния файл <a class="link" href="https://telerikacademyschool.gitlab.io/gamedev/setup.zip"
        download=""><b>setup.zip</b></a>.</p>
<p> 2. Разархивирай изтегления архивен файл <b>setup</b> с десен бутон и командата
    <b>Extract</b>
    <b>Here</b> за операционна система <b>Microsoft Windows</b> или двоен клик с ляв бутон на мишката за
    операционна система <b>macOS</b><span>.</span> В случай, че нямаш тази опция за операционна система
    <b>Microsoft Windows</b>, изтегли и инсталирай разархивираща програма (например <a href="https://www.win-rar.com/"
        target="_blank" class="link"><b>WinRar</b></a>).
</p>
<p> 3. Намери файла <b>index.html</b> в разархивираната <b>setup</b> папка и го отвори през средата за
    разработка <b>Microsoft</b>&nbsp;<b>Visual Studio Code</b>, като следваш стъпките:
</p>
<ul type="circle">
    <li> отвори разархивираната папка от раздел <b>File</b> на менюто в горната част на средата за
        разработка <b>Microsoft Visual Studio Code</b> и опция <b>Open</b>
        <b>Folder</b>;
        <br><img src="https://i.imgur.com/AAPdjIw.png" alt="" width="400" height="290" role="presentation"
            class="img-responsive atto_image_button_text-bottom">
    </li>
    <li>намери локацията на разархивираната папка setup на компютъра, маркирай я и избери опция
        <b>Select Folder</b>.
        <br><img src="https://i.imgur.com/1PAntD3.png" alt="" width="540" height="73" role="presentation"
            class="atto_image_button_text-bottom">
    </li>
</ul>
<p> 4. Стартирай динамичен сървър от бутон&nbsp;<b>Go Live&nbsp;<img src="https://i.imgur.com/ToK4X8m.png" alt=""
            width="80" height="25" role="presentation" class="img-responsive atto_image_button_text-bottom"></b>,
    която се намира в долния десен
    ъгъл на средата за разработка <b>Microsoft Visual Studio Code</b>. В случай, че не виждаш тази икона,
    затвори и отвори отново средата за разработка <b>Visual Studio
        Code</b>.</p>
<br><img src="https://i.imgur.com/dCFcUTX.png" alt="" width="800" height="32" role="presentation"
    class="img-responsive atto_image_button_text-bottom">
<p>В новоотворилия се прозорец на уеббраузъра по подразбиране виждаш съдържанието на файла
    <b>index.html
    </b>от разархивираната папка <b>setup</b>.
</p>
<p>
    Ако всичко е инсталирано правилно, в уеббраузъра файлът изглежда по следния начин:
    <br><img src="https://i.imgur.com/9SKAfvp.png" alt="" width="600" height="573" role="presentation"
        class="img-responsive atto_image_button_text-bottom">
</p>