      input::placeholder {
         font-family: 'Lato', sans-serif;
         font-weight: 100
      }

      * {
         font-family: 'Lato', sans-serif;
         font-weight: 100
      }

      .banner {
         padding: 6%;
         margin-top: 0;
         text-align: center
      }

      a {
         text-decoration: none
      }

      .container {
         max-width: 960px
      }

      .pricing-header {
         max-width: 700px
      }

      .btn.btn-primary {
         text-transform: uppercase
      }

      #examples-list a {
         font-size: 1.2rem;
         font-weight: 300
      }

      ::selection {
         background-color: #0d6efd;
         color: #fff
      }

      /* Album example from Bootstrap */

      .jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

div.single-example div.card-body a.card-text, 
div.single-example div.card-body p.card-text {
   font-size: .8rem!important;
}
